<div class=" border-gray-100 text-center">
  <!-- <div class="display-4" style="font-size:300%;">
    New Order
  </div> -->

  <div class="text-center p-4  border-t-2 border-r-2 border-b-2 border-l-4 border-gray-200">
    <div class="display-1" style="font-size:300%;">

      New Order
      <!-- ************************************************************** -->
      <!-- ************************************************************** -->
      <!-- ************************************************************** -->
      <br>
      <span class="display-1" style="font-size:40%;">Order (New) </span>
      <!-- ************************************************************** -->
      <!-- ************************************************************** -->
      <!-- ************************************************************** -->

    </div>
  </div>

  <br>
  <br>

  <div class="text-center p-4  border-t-2 border-r-2 border-b-2 border-l-4 border-gray-200">
    <div class="display-1" style="font-size:200%;">
      <%#= render 'form', order: @order %>
      <%= render 'new_order', order: @order %>

    </div>
  </div>




</div>
